/build/
/dist/
/pySitools2_1.0.egg-info/
/simplejson-3.3.0-py2.7-linux-x86_64.egg/
/examples/results/
/tests/results/
/results/
/.idea/
*.pyc
*.swp
*.py~
#reinstall_pySitools2.sh
reinstall_pySitools2.sh~
*.md~
*.egg
*.tar
credits.txt
*.fits
/pySitools2.egg-info/
/.cache/
/.eggs/
/venv/
/.scannerwork/

